/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --nav-width: 324px;

  /*===== Font weight =====*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;


  /*===== Colors =====*/
  --first-color: #0B0C10;
  --first-color-darken:#45A29E;
  --first-color-dark: #C3073F;
  --text-color: #1F2833;
  --first-color-light: #EAE7E6;
  --first-color-lighten: #FFFAFA;

  /*===== Font and typography =====*/
  --body-font: "Poppins", san-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*===== Margenes =====*/
  --md-1: .5rem;
  --md-2: 1rem;
  --md-3: 1.5rem;
  --md-4: 2rem;
  --md-5: 2.5rem;

  /*===== z index =====*/
  --z-fixed: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }

}




/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  background-color: var(--font-color-lighten);
  color: var(--text-color);
  line-height: 1.6;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h3 {
  font-weight: var(--font-semi-bold);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}



/*===== CLASS CSS ===== */
.section {
  padding: 4rem 0 2rem;
}

.section-title {
  font-size: var(--h1-font-size);
  color: var(--first-color);
  margin-bottom: var(--md-3);
  text-align: center;
}

.section-subtitle {
  display: block;
  font-size: var(-small-font-size);
  color: var(--first-color-darken);
  text-align: center;
  font-weight: var(--font-bold);
  margin-bottom: .25rem;
}

/*===== LAYOUT =====*/

.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(1005 - 2 rem);
  margin-left: var(--md-2);
  margin-right: var(--md-2);
}

.my-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--first-color-lighten);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*===== NAV =====*/
.bx-x:before {
  color: white;
}


.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 60%;
  height: 100vh;
  padding: 3rem;
  display: flex;
  align-items: center;
  background-color: var(--first-color);
  transition: .5s;
  opacity: 95%;
}

.nav_close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: var(--first-color-dark);
  cursor: pointer;
}

.nav_item {
  margin-bottom: var(--md-4);
}

.nav_link {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--first-color-darken);
  font-weight: var(--font-bold);
  transition: .3s;
}

.nav_link:hover {
  color: yellow;
  
}

.nav_toggle {
  color: var(--first-color-dark);
  font-size: 1.3rem;
  cursor: pointer;

}


/*=== Show menu ===*/
.show {
  left: 0;
}

/*Active menu*/
.active {
   color: var(--first-color-light);
  opacity: 50%;
  text-decoration: line-through;
}


/*===== HOME =====*/
.home_container {
  height: calc(100vh - var(--header-height));
  align-items: center;
}

.home_data {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  text-align: center;
}

.home_img {
  /*   padding-top: 1.3rem;
  padding-left: .8rem; */
  width: 200px;
  height: 200px;
  background-color: var(--first-color);
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: var(--md-2);
}

/* .home_img img{
  width: 155px;
} */

.home_title {
  font-size: var(--h1-font-size);
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
}

.home_profession {
  font-size: var(--small-font-size);
  color: var(--first-color-dark);
  margin-bottom: var(--md-5);
}

.home_social {
  margin-bottom: 5rem;
}

.home_social-link {
  display: inline-flex;
  background-color: var(--first-color);
  color: var(--first-color-lighten);
  font-size: 1.1rem;
  border-radius: 50%;
  padding: .40rem;
  margin: 0 var(--md-1);
  transition: .3s;
}

.home_social-link:hover {
  background-color: var(--first-color-dark);
}

.home_button {
  width: 100%;
}

/*BUTTONS*/

.button {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--first-color-lighten);
  padding: 1rem 2rem;
  font-weight: var(--font-semi-bold);
  border-radius: .5rem;
}

.button:hover {
  background-color: var(--first-color-dark);
}

/* find the use of code button_light*/
.button_light {
  background-color: var(--first-color-lighten);
  color: var(--first-color);
}

.button_light:hover {
  color: var(--first-color-lighten);


}


/* ===== ABOUT =====*/
.about_container {
  row-gap: 2rem;
}

.about_data {
  text-align: center;
}

.about_description {
  margin-bottom: var(--md-4);
}

.about_img {
  width: 150px;
  border-radius: .5rem;
  margin: 0 auto;
}

.about_information {
  margin-bottom: var(--md-4);
}

.about_information-title {
  font-size: var(--h3-font-size);
  color: var(--first-color-dark);
  margin-bottom: var(--md-2);
}

.about_information-data {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  margin-bottom: var(--md-3);
}

.about_information-icon {
  font-size: 1.5rem;
  color: var(--first-color);
  margin-right: var(--md-4);

}

.about_information-subtitle {
  display: block;
  font-weight: var(--font-semi-bold);
}

.about_information-subtitle-small {
  font-size: var(--small-font-size);
}




/* ===== SKILLS =====*/

.skills_container {
  row-gap: 2rem;
}

.skills_subtitle {
  font-size: var(--h3-font-size);
  color: var(--first-color-dark);
  margin-bottom: var(--md-2);
}

.skills_data {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 var(--md-2);
  margin-bottom: var(--md-4);
}

.skills_name {
  text-transform: uppercase;
}

.skills_bar {
  top: 30px;
  position: absolute;
  border: -.75rem;
  height: .25rem;
  background-color: var(--first-color);
}

.skills_html {
  width: 80%;
}

.skills_js {
  width: 70%;
}

.skills_react {
  width: 60%;
}

.skills_photoshop {
  width: 80%;
}

.skills_node {
  width: 70%;
}

.skills_php {
  width: 80%;
}

.skills_firebase {
  width: 80%;
}

.skills_python {
  width: 50%;
}


/* ===== EDUCATION =====*/

.education_container {
  row-gap: 2rem;

}

.education_content {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
}

.education_year,
.educationm_race {
  font-size: var(--h3-font-size);
  margin-bottom: .25rem;
}

.education_university,
.education_score {
  display: block;
  font-size: var(--smaller-font-size);
}

.education_year,
.education_university {
  text-align: right;
}

.education_time {
  padding: 0 1rem;
  justify-content: center;
}

.education_rounder {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: var(--first-color);
  border-radius: 50%;
}

.education_rounder::before {
  content: '';
  position: absolute;
  transform: translate(-4px, -4px);
  width: 20px;
  height: 20px;
  border: 1px solid var(--first-color);
  border-radius: 50%;
}

.education_line {
  display: block;
  height: 90%;
  width: 2px;
  background-color: var(--first-color);
  transform: translate(5px, -4px);
}


/* ===== SERVICES =====*/

.services_container {
  row-gap: 2rem;
}

.services_content {
  padding: 1.5rem .5rem;
  border: 2px solid var(--first-color);
  border-radius: .5rem;
  text-align: center;
}

.services_icon {
  font-size: 2rem;
  padding: .5rem;
  background-color: var(--first-color);
  color: var(--first-color-lighten);
  border-radius: 50%;
  margin-bottom: var(--md-2);

}

.services_title {
  font-size: 1.25rem;
  color: var(--first-color-dark);
  margin-bottom: var(--md-1);
}

.services_content,
.services_icon,
.services_description,
.services_title {
  transition: .5s;
}

.services_content:hover {
  background-color: var(--first-color);
}

.services_content:hover .services_icon {
  background-color: var(--first-color-lighten);
  color: var(--first-color);
}

.services_content:hover .services_title {
  color: var(--first-color-lighten);

}

.services_content:hover .services_description {
  color: var(--first-color-lighten);

}




/* ===== PROJECT IN MIND  =====*/


/* ===== WORKS =====*/


/* ===== CONTACT =====*/

.contact_container {
  row-gap: 2rem;
}

.contact_input {
  width: 90%;
  padding: 1rem;
  border: none;
  outline: none;
  background-color: var(--first-color-light);
  font-size: var(--normal-font-size);
  margin: var(--md-2);
  border-radius: .5rem;
}

.contact ::placeholder {
  color: var(--first-color-dark);
  font-family: var(--body-font);
  font-weight: var(--font-medium);
}

.contact_button {
  outline: none;
  border: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  cursor: pointer;
}

.contact_info {
  margin-bottom: var(--md-3);
}

.contact_subtitle {
  font-size: var(--h3-font-size);
  color: var(--first-color-dark);
  margin-bottom: var(--md-1);
}

.contact_text {
  display: block;
  padding-left: 1rem;
}


/* ===== FOOTER =====*/

.footer {
  background-color: var(--first-color);
  color: var(--first-color-lighten);
  text-align: center;
}

.footer_title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--md-2);
}

.footer_social {
  margin-bottom: 3rem;
}

.footer_link {
  display: inline-flex;
  background-color: var(--first-color-dark);
  color: var(--first-color-lighten);
  font-size: 1.1rem;
  border-radius: 50%;
  margin: 0 var(--md-1);
  transition: .3s;

}

.footer_link:hover {
  background-color: var(--first-color-lighten);
  color: var(--first-color);


}

.footer_copy {
  font-size: var(--small-font-size);

}



/* ===== MEDIA QUERIES=====*/

@media screen and (min-width: 768px) {
  .home_button {
    width: initial;
  }


  .section {
    padding: 4rem 2rem;
  }


  .nav_menu {
    width: var(--nav-width);

  }

  .about_container,
  .skills_container,
  .services_container,
  .contact_container,
  .contact_input {
    grid-template-columns: repeat(2, 1fr);
  }

  .about_data {
    text-align: initial;

  }

  .about_description {
    margin-bottom: var(--md-5);
  }

  .about_img {
    width: 220px;
  }

  .about_information {
    padding-left: 4rem;
  }

  .education_time {
    padding: 0 2 rem;
  }

  .contact_input {
    display: grid;
    column-gap: 1.5rem;
  }

  .contact_info {
    padding-left: 3rem;
  }

  .footer {
    background: none;
    background-color: var(--first-color);
  }

  .footer.container {
    background-color: var(--first-color);
    padding: 3rem 0;
    border-radius: .5rem;
  }






}

@media screen and (min-width: 1024px) {
  body {
    margin: 0;
    padding-left: var(--nav-width);
  }

  .my-header {
    width: 0;
  }

  .nav_toggle,
  .nav_close,
  .nav_logo {
    display: none;
  }

  .nav_menu {
    left: 0;
  }

  .home_container {
    height: 100vh;
    ;
  }

  .section {
    padding: 3rem 2rem;
  }

  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }

  .services_container {
    grid-template-columns: repeat(3, 1fr);
  }



}
